<script src="https://unpkg.com/htmx.org@2.0.2"></script>

<div id="buttons">
  <button hx-get="/clicked" hx-target="#status">Send GET</button>
  <button hx-post="/clicked" hx-target="#status">Send POST</button>
  <button hx-put="/clicked" hx-target="#status">Send PUT</button>
  <button hx-delete="/clicked" hx-target="#status">Send DELETE</button>
</div>

<div id="status">No request sent</div>

<style>
  #buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem; 
  }
  #buttons button {
    width: 7rem;
  }
</style>