<script src="https://unpkg.com/htmx.org@2.0.2"></script>


<div id="test-replace">
  <button hx-get="/test-replace/innerHTML">
    If you click, this message will be replaced
  </button>

  <button hx-get="/test-replace/outerHTML" hx-swap="outerHTML">
    If you click, this button will become a div
  </button>

  <button hx-get="/test-replace/none" hx-swap="none">
    If you click, nothing changes, the response is ignored
  </button>
  
  <button hx-get="/test-replace/delete" hx-swap="delete">
    If you click, this button will dissapear when the response is received
  </button>  
</div>


<style>
  #test-replace {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }
</style>