<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>&lt;/&gt; htmx & Web Components: A Perfect Match for Frontend Development</title>
</head>

<body>
  <h1>&lt;/&gt; htmx examples</h1>
  <h2>Choosing when to send requests</h2>

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>

  <div id="buttons-column">
    <button hx-get="/trigger/natural" hx-target="#status">
      In a button the natural event is a click
    </button>
    <button hx-trigger="mouseover" hx-get="/trigger/mouseover" hx-target="#status">
      This button triggers on mouseover
    </button>
    <button hx-trigger="mouseenter" hx-get="/trigger/mouseenter" hx-target="#status">
      This button triggers on mouseenter
    </button>
    <button hx-trigger="mouseleave" hx-get="/trigger/mouseleave" hx-target="#status">
      This button triggers on mouseleave
    </button>
  </div>

  <div id="status">No AJAX request sent yet</div>
</body>
</html>