<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>&lt;/&gt; htmx & Web Components: A Perfect Match for Frontend Development</title>
</head>

<body>
  <h1>&lt;/&gt; htmx examples</h1>
  <h2>Using the response to replace elements</h2>

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>

  <div id="buttons-column">
    <button hx-get="/test-replace/innerHTML">
      If you click, this message will be replaced
    </button>

    <button hx-get="/test-replace/outerHTML" hx-swap="outerHTML">
      If you click, this button will become a div
    </button>

    <button hx-get="/test-replace/none" hx-swap="none">
      If you click, nothing changes, the response is ignored
    </button>

    <button hx-get="/test-replace/delete" hx-swap="delete">
      If you click, this button will dissapear when the response is received
    </button>
  </div>
</body>

</html>