<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>&lt;/&gt; htmx & Web Components: A Perfect Match for Frontend Development</title>
</head>

<body>
  <h1>&lt;/&gt; htmx examples</h1>
  <h2>More triggering options</h2>

  <script src="https://unpkg.com/htmx.org@2.0.2"></script>

  <div id="buttons-column">
    <button hx-trigger="every 5s" hx-get="/trigger/5seconds" hx-target="#status">
      Sends request every 5 seconds, no event needed
    </button>
    <button hx-trigger="click[ctrlKey]" hx-get="/trigger/ctrlclick" hx-target="#status">
      Sends request on click while pressing Ctrl
    </button>
    <button hx-trigger="click[ctrlKey] once" hx-get="/trigger/ctrlclickonce" hx-target="#status">
      Sends request on the first click while pressing Ctrl
    </button>
  </div>

  <div id="status">No AJAX request sent yet</div>
</body>

</html>